body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-family: "Poppins", sans-serif; */
}

/* .page-header-container {
    max-width: 1400px;
    width: 96%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(131, 131, 131);
    padding: 15px 0;
}

#page-header-title {
    font-size: 1.3rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
} */

.page-header-container {
  max-width: 1400px;
  width: 96%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(131, 131, 131);
  padding: 15px 0;
}

#page-header-title {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.breadcrum-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  margin-top: 10px;
}

.breadcrum-link {
  text-decoration: none;
  color: #8a8a8a;
  font-style: italic;
  padding: 4px 0;
}

.breadcrum-link,
.breadcrum-link-arrow {
  color: #727272;
}

.breadcrum-link-arrow {
  margin: 0 7px;
}

.current-breadcrum-link {
  color: #437ee6;
}

.second-border {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  box-sizing: border-box;
  width: 92%;
  max-width: 1000px;
}

.search-N-sort-components-container {
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #a1a1a1; */
}

.sort-input-edited {
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.sort-input-edited > label {
  margin-right: 10px;
}

.custom-select-edited {
  margin: 0;
  width: 265.4px;
}

.search-component-container,
.sort-component-container {
  flex: 1;
  /* border: 1px solid #660808; */
}

.sort-component-container {
  /* background-color: rgb(132, 112, 86); */
  display: flex;
  justify-content: flex-end;
}

.ug-search-input-wrapper > input,
.ug-search-input-wrapper > button {
  height: 1.4rem;
}

.ug-search-input-wrapper > input {
  border: none;
  outline: none;
  padding: 0 5px;
  width: 240px;
}

.ug-search-input-wrapper > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #c4c4c4;
}

.ug-search-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #a1a1a1;
  width: fit-content;
  padding: 2px;
  border-radius: 5px;
}

.button-place {
  flex-direction: row !important;
  justify-content: flex-end;
  width: 100%;
  /* border: 1px dotted black; */
  display: none;
}

.edit {
  margin-right: 0px !important;
}

.display-bulk-operation-btn {
  display: flex;
}

/* Table content starts from here */

.content-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 92%;
  max-width: 1000px;
}

.content-categories-headers-container {
  width: 100%;
  display: flex;
  font-weight: 500;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  /* background-color: #a09191 !important; */
}

.content-category-container {
  width: 100%;
}

.content-category-info {
  width: 100%;
  height: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  display: flex;
  align-items: flex-start !important;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 10px 0;
  /* background-color: #f1c3c3 !important; */
  /* padding: 0 10px; */
}

.custom-control {
  padding-left: 0px;
}

.checkbox-edit {
  margin: 0px !important;
}

.btn1-edit {
  color: #000000 !important;
  background-color: #d1d1d1 !important;
  border-color: #c4c4c4 !important;
}

.btn2-edit {
  background-color: #31de4b !important;
  border-color: #2ad444 !important;
}

.btn3-edit {
  background-color: #ff635b !important;
  border-color: #ed534b !important;
}

.block-a {
  flex-basis: 50px;
}

.block-b {
  flex-basis: 120px;
}

.block-c {
  flex: 2;
}

.block-d {
  flex: 1;
  padding-left: 20px;
}

.block-e {
  flex-basis: 280px;
}

.block-a,
.block-b,
.block-c,
.block-d,
.block-e {
  text-align: left !important;
  /* vertical-align: middle !important; */
  height: 100%;
  /* align-self: center; */
  /* border: 1px dotted red; */
}

.block-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  white-space: nowrap;
  flex: 1;
  /* margin-bottom: 2px; */
}

/* --------------------------------------modal css-------------------------------------------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 10% from the top and centered */
  /* padding: 20px; */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 0.5rem;
}

.modal-top-section {
  display: flex;
  flex-direction: row;
  /* background-color: #27bdfd3a; */
  background-color: #ededed;
  /* padding: 10px 10px; */
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 1px solid #d8e2ef;
  /* border-color: #7c7b7b; */
}

.modal-title {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #807e7e;
}

.title-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 10px;
}

#mtitle {
  margin: 0 !important;
  width: fit-content;
}

.modal-bottom-section {
  /* border-top: 1px solid #d8e2ef; */
  background-color: #ededed;
  padding: 10px;
  /* height: 2rem; */
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  justify-content: flex-end;
}

/* The Close Button */

.close {
  /* float: right; */
  font-size: 1.5rem;
  font-weight: 700;
  /* line-height: 1; */
  display: flex;
  /* flex: 1; */
  color: rgb(49, 47, 47);
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 0;
  margin: 5px 5px 15px 0;
  /* width: 10%; */
  align-items: flex-end;
  justify-content: flex-end;
  width: fit-content;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.edit-close {
  padding-bottom: 5px !important;
}

.edit-input-group {
  padding: 10px 20px !important;
}

.edit-form-control {
  margin: 30px auto !important;
  max-width: 100%;
  /* height: 110px; */
}

@media only screen and (min-width: 900px) {
  .block-title {
    display: none;
  }
}

@media only screen and (max-width: 690px) {
  .search-N-sort-components-container {
    flex-direction: column;
    align-items: flex-end;
    /* border: 1px solid red; */
  }
  .search-component-container {
    margin-bottom: 15px;
  }
  .sort-input-edited {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  /* Table content */
  .block-e {
    padding-top: 10px;
  }

  .modal-content {
    width: 75%;
  }

  .modal-title {
    font-size: 1rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 470px) {
  .close {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
  }
}

@media only screen and (max-width: 900px) {
  /* Table content */
  .content-categories-headers-container {
    display: none;
  }
  .content-category-info {
    display: flex;
    flex-direction: column;
  }
  .block-a,
  .block-b,
  .block-c,
  .block-d,
  .block-e {
    width: 100%;
    /* background-color: #9ec2f3; */
    flex-basis: 0;
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    display: flex;
    align-items: flex-start;
  }
  .block-e {
    /* padding-top: 10px; */
    text-align: right !important;
  }
  .block-b,
  .block-c,
  .block-d {
    padding: 0 10px;
  }
  /* .block-a > p, */
  .block-b > p,
  .block-c > p,
  .block-d > p,
  .block-e > p {
    flex: 4;
  }
  .block-title {
    flex-basis: 90px !important;
    min-width: 90px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }
}
