body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
}

.main-container {
  flex-grow: 1;
}

.type-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: gray;
}

.filters-container {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  margin-top: 20px;
  margin-bottom: 40px;
}

.browse-filter {
  text-decoration: none;
  color: black;
  font-weight: 500;
  background-color: rgb(233, 233, 233);
  min-width: 150px !important;
  width: 200px !important;
  padding: 7px 12px;
  text-align: center;
  border: 1px solid rgb(196, 196, 196);
}

.description-text {
  margin: 20px 0;
}

.communities-container,
.collections-container {
  margin-bottom: 40px;
}

.sub-community-title,
.collection-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #344050;
  margin-bottom: 10px;
}

.sub-communities-inner-container {
  margin: 40px 0 20px 0;
}

.sub-communities-inner-container,
.collections-inner-container {
  display: flex;
  flex-direction: column;
}

.sub-communities-inner-container > a,
.collections-inner-container > a {
  text-decoration: none;
  color: #428bca;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.browse-by-text {
  padding-top: 20px;
  /* color: red; */
  font-weight: 600;
}

.main-page-devider {
  display: flex;
}

.main-data-container {
  flex: 1;
}

.admin-tools-container {
  flex-basis: 250px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 7px;
  height: fit-content;
  overflow: hidden;
}

.admin-tools-container-header {
  background-color: rgb(255, 255, 185);
  padding: 10px;
  margin-bottom: 16px;
}

.admin-tools-container-header > span {
  display: flex;
  align-items: center;
}

.admin-tools-container-header > span > p {
  font-weight: 500;
  margin-left: 10px;
}

.admin-tools-buttons-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.admin-option-btn {
  outline: none;
  border: 1px solid gray;
  margin: 4px 0;
}

.collection-data-row > button {
  padding: 2px 4px;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 0 6px;
  background-color: #ca5642;
}

.collection-data-row > button > i {
  color: #e4e4e4;
}

.collection-data-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#upload-content-form > button {
  width: 100%;
}

.collection-data-row > a {
  text-decoration: none;
  color: #428bca;
  font-size: 1.2rem;
  /* margin-bottom: 10px; */
}

.delete-btn {
  padding: 2px 4px;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 0 6px;
  background-color: #ca5642;
}

.delete-btn > i {
  color: #e4e4e4;
}

.data-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.data-row.highlight {
  background-color: #f1f1f1;
}

.data-element-title {
  text-decoration: none;
  color: #428bca;
  font-size: 1.2rem;
}
