body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
}

.admin-dashboard-text {
  max-width: 1400px;
  width: 96%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(210, 210, 210);
  padding: 15px 0;
}

.content-container {
  max-width: 1400px;
  width: 96%;
  margin: 0 auto;
  padding: 15px 0;
}

#page-header-title {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.admin-dashboard-main-content {
  flex-grow: 1;
}

.selection-division-container{
  display: flex;
  justify-content: center;
}

.selection-division {
  display: flex;
  flex-direction: row;
  /* width: 1400px; */
  /* width: 100%; */
  /* width: fit-content; */
  /* border: 1px solid red; */
}

.edit-form-conrol.add-error {
  border: 1px solid red !important;
}

.error-text {
  color: red;
  display: none;
}

.error-text.show-text {
  display: block;
}

.input-group-override {
  flex-direction: row;
}

.labelPlace-override {
  margin: 5px 10px 0 0;
}

.n-a {
  color: rgb(172, 172, 172);
}

.edit-input-group {
  width: 50px !important;
}

.edit-form-conrol {
  flex: 1;
  margin-bottom: 5px !important;
}

.btn-edit {
  height: 2rem;
  width: 70px;
  text-align: center;
  justify-content: center;
}

.details-container {
  width: 900px;
  max-width: 900px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin: 10px auto;
  font-family: "Poppins", sans-serif !important;
}

.data-container {
  width: 100%;
  height: fit-content;
  /* border: 1px solid black; */
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
}

.list-title {
  font-weight: 500 !important;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color: rgb(63, 63, 63);
  background-color: rgb(213, 217, 212);
  border-radius: 5px;
  /* margin: 5px 0; */
  width: 100%;
  font-family: "Poppins", sans-serif !important;
}

.data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data-item-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.data-item {
  margin: 5px;
  font-size: 0.8rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
  min-height: 100%;
  border-bottom: 1px solid rgb(195, 215, 216);
}

.edit-for-no-records {
  border-bottom: none !important;
  max-width: 100% !important;
}

.edit-data-item {
  text-align: left !important;
  margin-left: 10px;
}

.paginate-component-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 854px) {
  .details-container {
    width: 90%;
  }
}
