.admin-dashboard-text {
  max-width: 1400px;
  width: 96%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(210, 210, 210);
  padding: 15px 0;
}

#page-header-title {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.admin-dashboard-main-content {
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.details-container {
  width: 900px;
  max-width: 900px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin: 10px auto;
  font-family: "Poppins", sans-serif !important;
}

.data-container{
  width: 65%;
  height: fit-content;
  /* border: 1px solid black; */
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.title-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* .user-list {
  width: 30%;
  height: fit-content;
  padding: 5px;
  display: flex;
  flex-direction: column !important;
} */

.list-title {
  font-weight: 500 !important;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color: rgb(63, 63, 63);
  background-color: rgb(213, 217, 212);
  border-radius: 5px;
  /* margin: 5px 0; */
  width: 100%;
}

.data{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.data-item-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.data-item {
  margin: 5px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
  min-height: 100%;
  border-bottom: 1px solid rgb(195, 215, 216);
}

.heading {
  font-weight: 600;
}

.chart-container {
  height: fit-content;
}

#myChart {
  width: 100%;
  height: 100%;
  position:static;
}

.n-a {
  color: rgb(172, 172, 172);
}

.no-records-available {
  /* font-size: 1.5rem; */
  font-weight: 500;
  color: rgb(172, 172, 172);
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 854px) {
  .details-container {
    width: 90%;
  }
}
